@page "/press-schedule/add"
@using Microsoft.Extensions.Logging
@using MpiSchedule.Client.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.SignalR.Client
@using MpiSchedule.Client.Models
@inject ILogger<AddJob> Logger
@inject PressJobHttpClient Http
@inject NavigationManager Navigation
@implements IAsyncDisposable
@attribute [Authorize(Roles = "Admin, Developer")]

@if (Job is not null)
{
    <AuthorizeView>
        <PressJobForm Busy="busy"
                      Job="Job"
                      IsAdd="true"
                      CancelRequest="Cancel"
                      ValidationResult ="async (success) => await ValidationResultAsync(success)"/>
    </AuthorizeView>
}

@if (error)
{
    <br />
    <div class="alert alert-danger">Failed to add job (@errorMessage).</div>
}

@code
{
    private HubConnection? hubConnection;
    private bool busy;
    private bool error;
    private string errorMessage = string.Empty;

    private PressJob? Job { get; set; }

    [SupplyParameterFromQuery(Name = "pressId")]
    private int PressId { get; set; }

    [SupplyParameterFromQuery(Name = "date")]
    private DateTime SelectedDate { get; set; }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Job = new()
        {
            PressId = PressId,
            Date = SelectedDate,
            DueDate = SelectedDate,
        };

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/refresh-schedule"))
            .Build();

        await hubConnection.StartAsync();
    }

    private void Cancel()
    {
        busy = true;
        var navigationUrl = "/press-schedule";
        if (Job is not null)
        {
            navigationUrl += $"?pressId={Job.PressId}";
        }

        Navigation.NavigateTo(navigationUrl);
    }

    private async Task ValidationResultAsync(bool success)
    {
        if (busy)
        {
            return;
        }

        if (!success)
        {
            error = false;
            return;
        }

        busy = true;
        var navigationUrl = "/press-schedule";
        if (Job is not null)
        {
            navigationUrl += $"?pressId={Job.PressId}";
        }

        try
        {
            if (Job is not null)
            {
                await Http.CreateJobAsync(Job);
            }

            await hubConnection?.SendAsync("RefreshSchedule")!;

            Navigation.NavigateTo(navigationUrl);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to add entry");
            error = true;
            errorMessage = ex.Message;
        }
        finally
        {
            busy = false;
        }
    }
}
