@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>

<br />

<AuthorizeView Roles="User">
    You are a user
</AuthorizeView>

<AuthorizeView Roles="Admin">
    You are an admin
</AuthorizeView>