@page "/press-schedule"
@using MpiSchedule.Client.Models
@using MpiSchedule.Client.Http
@using Microsoft.AspNetCore.SignalR.Client
@inject PressHttpClient Http
@inject PressJobHttpClient JobHttp
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Schedule</PageTitle>

<h2>Schedule</h2>

<PressDropdown Value="selectedPress" ValueChanged="OnValueChanged" />

<br />

<MonthlyCalendar TModel="PressJob"
                 Values="jobList"
                 ValueClick="ValueClick"
                 GetStartDate="job => job.Date"
                 GetValueContent="job => job.Name"
                 GetBackgroundColor="BackgroundColorForJob"
                 GetForegroundColor="ForegroundColorForJob" />

<Modal @ref="modal" />

@code
{
    private readonly DateTime today = DateTime.Today;
    private readonly List<PressJob> jobList = [];
    private HubConnection? hubConnection;
    private Modal? modal;
    private Press? selectedPress;

    [SupplyParameterFromQuery(Name = "pressId")]
    private int PressId { get; set; }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/refresh-schedule"))
            .Build();

        hubConnection.On(
            "RefreshSchedule",
            async () =>
            {
                if (selectedPress is not null)
                {
                    var press = await Http.GetPressAsync(selectedPress.PressId, true);

                    await OnValueChanged(press);

                    StateHasChanged();
                }

                if (PressId is not 0)
                {
                    var press = await Http.GetPressAsync(PressId, true);

                    await OnValueChanged(press);

                    StateHasChanged();
                }
            });

        await hubConnection.StartAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (PressId is not 0)
        {
            var press = await Http.GetPressAsync(PressId, true);

            await OnValueChanged(press);
        }
    }

    private static string BackgroundColorForJob(PressJob job) => job.Shift switch
    {
        Shift.First => "#2dc937",
        Shift.Second => "#e7b416",
        Shift.Third => "#cc3232",
        _ => "#000000",
    };

    private static string ForegroundColorForJob(PressJob job) => job.Shift switch
    {
        Shift.First or Shift.Second => "#000000",
        _ => "#ffffff",
    };

    private async Task OnValueChanged(Press? press)
    {
        jobList.Clear();

        selectedPress = press;

        if (selectedPress is not null)
        {
            if (selectedPress is { PressId: 7, Jobs.Count: 0 })
            {
                await JobHttp.CreateJobAsync(new PressJob { Date = DateTime.Today, JobNumber = "3333333-1", Name = "Test Job 1", PressId = 7, Quantity = 20000, Shift = Shift.First });
                await JobHttp.CreateJobAsync(new PressJob { Date = DateTime.Today, JobNumber = "3333333-2", Name = "Test Job 2", PressId = 7, Quantity = 20000, Shift = Shift.Second });
                await JobHttp.CreateJobAsync(new PressJob { Date = DateTime.Today, JobNumber = "3333333-3", Name = "Test Job 3", PressId = 7, Quantity = 20000, Shift = Shift.Third });

                var newPress = await Http.GetPressAsync(7, true);

                await OnValueChanged(newPress);
            }

            jobList.AddRange(selectedPress.Jobs.OrderBy(x => x.Shift).Where(j => j.Date.Month == today.Month));
        }
    }

    private async Task ValueClick(PressJob job)
    {
        var parameters = new Dictionary<string, object>
        {
            { nameof(PressJobInfoModal.Job), job },
            { nameof(PressJobInfoModal.CloseCommand), EventCallback.Factory.Create(this, CloseModal) },
        };

        await modal?.ShowAsync<PressJobInfoModal>(title: "Job Info", parameters: parameters)!;
    }

    private async Task CloseModal() => await modal?.HideAsync()!;
}
